:root {
  --font-family: 'Montserrat', sans-serif;
  --second-font-family: 'Saira', sans-serif;
  --container-width: 1536px;
  --light-color: #ffffff;
  --accent-color: #1a56e9;
  --text-color: #0f2331;
  --text-light-color: #73828c;
  --bg-color: #fafafa;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  max-width: var(--container-width);
}

.text {
  margin: 0;
}

.color-text {
  color: var(--accent-color);
}

.header,
.footer {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo,
.footer-logo {
  font-size: 26px;
  font-weight: 600;
  line-height: 39px;
  color: var(--accent-color);
}

.hero-container {
  position: relative;
  margin: 0 auto;
  max-width: 1920px;
  padding: 166px 105px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-container::before,
.hero-container::after {
  content: '';
  position: absolute;
  width: 395px;
  height: 148px;
  background-image: url('./img/header-bg.png');
  background-size: contain;
}

.hero-container::before {
  top: 79px;
  right: 180px;
}

.hero-container::after {
  bottom: 0;
  left: 273px;
}

.hero-title {
  max-width: 1072px;
  padding: 24px 46px;
  font-weight: 600;
  text-align: left;
  font-size: clamp(32px, 1.109rem + 3.8vw, 90px);
  line-height: clamp(38px, 1.299rem + 4.59vw, 108px);
  border: 10px solid var(--accent-color);
}

.hero-text {
  align-self: flex-end;
  margin-top: 93px;
  max-width: 684px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: var(--text-light-color);
}

.support {
  position: relative;
  overflow: hidden;
}

.support-animation {
  position: absolute;
  top: 200px;
  left: -40px;
  background: var(--accent-color);
  height: 71px;
  display: flex;
  width: 110%;
  transform: rotate(6deg);
}

.support-animation__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  animation: animation-text 7s linear infinite;
}

.support-animation__text {
  color: #ccdada;
  font-size: 24px;
  padding: 0 68px;
  font-weight: 700;
  line-height: 26.4px;
}

.support-animation:nth-child(1) {
  z-index: 5;
  transform: rotate(174deg);
}

.support-animation:nth-child(1) .support-animation__text {
  color: #ffd913;
  transform: rotate(180deg);
}

.support-container {
  padding-top: 472px;
}

.support-title {
  text-align: left;
  font-weight: 600;
  font-size: clamp(24px, 1.254rem + 1.05vw, 40px);
  line-height: clamp(28px, 1.443rem + 1.31vw, 48px);
}

.support-wrapper {
  margin-top: 199px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.support-wrapper__item {
  display: flex;
  align-items: flex-end;
  padding: 50px;
  border: 10px solid var(--accent-color);
}

.support-wrapper__text {
  font-weight: 600;
  text-align: left;
  font-size: clamp(24px, 1.377rem + 0.52vw, 32px);
  line-height: clamp(29px, 1.659rem + 0.66vw, 39px);
}

.offers-container {
  margin-top: 208px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1.25rem, 0.654rem + 2.54vw, 1.875rem);
}

.offers-container__item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 35px;
  border: 1px solid #ececec;
  border-radius: 10px;
  background: #fafafa;
}

.offers-container__img {
  margin: 0 auto;
  width: 600px;
  object-fit: contain;
}

.offers-container__title {
  flex-grow: 1;
  font-size: clamp(20px, 1.004rem + 1.05vw, 36px);
  line-height: clamp(24px, 1.193rem + 1.31vw, 44px);
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.offers-container__text {
  margin-top: 16px;
  font-size: clamp(0.875rem, 0.783rem + 0.39vw, 1.25rem);
  line-height: clamp(1.313rem, 1.174rem + 0.59vw, 1.875rem);
  font-weight: 500;
  text-align: left;
  color: var(--text-light-color);
}

.offers-container__item:nth-child(3) {
  padding: 72px 61px;
  height: 690px;
  grid-column: 2 span;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.offers-container__item:nth-child(3) .offers-container__img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.offers-container__item:nth-child(3) .offers-container__title {
  flex-grow: 0;
}

.offers-container__item:nth-child(3) .offers-container__text {
  max-width: 608px;
}

.start-container {
  margin: 0 auto;
  margin-top: 208px;
  padding-left: 280px;
  height: 610px;
  max-width: 1600px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-container::before,
.start-container::after {
  content: '';
  position: absolute;
  width: 395px;
  height: 148px;
  background-image: url('./img/header-bg.png');
  background-size: contain;
}

.start-container::before {
  top: 0;
  right: 0;
}

.start-container::after {
  bottom: 0;
  left: 0;
}

.start-title {
  font-size: clamp(1.875rem, 1.322rem + 2.36vw, 4.125rem);
  line-height: clamp(2.25rem, 1.574rem + 2.89vw, 5rem);
  font-weight: 500;
}

.start-text {
  padding-top: 14px;
  max-width: 676px;
  font-size: clamp(0.875rem, 0.844rem + 0.13vw, 1rem);
  line-height: clamp(1.313rem, 1.266rem + 0.2vw, 1.5rem);
  font-weight: 500;
  color: var(--text-light-color);
}

.connect-container {
  margin: 0 auto;
  margin-top: 177px;
  padding: 90px 120px;
  max-width: 1600px;
  background: var(--bg-color);
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.connect-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 494px;
}
.connect-form__label {
  position: relative;
}
.just-validate-error-label {
  position: absolute;
  bottom: 0;
  left: 0;
}

.connect-form__input,
.connect-form__text {
  margin-bottom: 26px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  border-bottom: 1px solid #ccd1cb;
  background: var(--bg-color);
  resize: none;
}

.connect-form__input:placeholder {
  padding-bottom: 11px;
  color: #c2c2c2;
}

.connect-form__btn {
  padding: 22px 40px;
  border: none;
  background: var(--accent-color);
  color: var(--light-color);
  transition: background 0.2s ease-in-out;
}

.connect-form__btn:hover {
  background: #7198f8;
}

.connect-text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.connect-text__title {
  font-size: clamp(2.5rem, 1.424rem + 4.59vw, 6.875rem);
  line-height: clamp(2.75rem, 1.736rem + 4.33vw, 6.875rem);
  font-weight: 800;
  text-align: right;
  text-transform: uppercase;
}
.connect-text__title-first {
  display: none;
}

.connect-text__box {
  margin-top: 77px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.connect-text__text {
  max-width: 551px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.6px;
  text-align: right;
}

.connect-text__text:last-child {
  opacity: 50%;
}

.footer {
  margin-top: 160px;
  background: var(--accent-color);
}

.footer-logo {
  color: var(--light-color);
}

@keyframes animation-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .container,
  .hero-container {
    margin: 0 16px;
  }
  .hero-container {
    padding: 0;
    padding-top: 166px;
  }
  .hero-container::before {
    top: 64px;
    right: 15px;
  }
  .hero-container::after {
    bottom: 180px;
    left: 15px;
  }
  .hero-text {
    margin-top: 200px;
    align-self: center;
  }

  .support-animation {
    top: 120px;
    height: 61px;
    display: flex;
  }
  .support-container {
    padding-top: 300px;
  }
  .support-title {
    text-align: left;
    font-weight: 600;
    font-size: clamp(24px, 1.254rem + 1.05vw, 40px);
    line-height: clamp(28px, 1.443rem + 1.31vw, 48px);
  }
  .support-wrapper {
    margin-top: 140px;
  }
  .support-wrapper__item {
    display: flex;
    align-items: flex-end;
    padding: 50px;
    border: 10px solid var(--accent-color);
  }

  .offers-container {
    margin-top: 138px;
    grid-template-columns: 1fr;
    gap: 35px;
  }
  .offers-container__item:nth-child(3) {
    padding: 35px;
    height: auto;
    grid-column: 1 span;
  }
  .offers-container__img {
    width: 450px;
  }
  .offers-container__item {
    gap: 0;
    margin: 0;
    padding: 0;
    width: auto;
    padding: 20px;
  }
  .offers-container__item:nth-child(3) {
    padding: 20px;
  }
  .offers-container__item:nth-child(3) .offers-container__img {
    width: 450px;
    position: static;
    transform: none;
  }
  .offers-container__item:nth-child(3) .offers-container__title {
    flex-grow: 0;
  }

  .start-container {
    margin-top: 140px;
    padding: 0;
    align-items: center;
  }

  .connect-container {
    margin-top: 107px;
    padding: 70px 80px;
    flex-direction: column;
  }
  .connect-form {
    width: 100%;
  }
  .connect-text__title-first {
    display: block;
  }
  .connect-text__title-second {
    display: none;
  }
  .footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 430px) {
  .hero-container {
    padding-top: 100px;
  }
  .hero-container::before {
    top: 50px;
    right: -12px;
    width: 226px;
    height: 85px;
  }
  .hero-container::after {
    bottom: 284px;
    left: -12px;
    width: 226px;
    height: 85px;
  }
  .hero-title {
    padding: 20px;
  }
  .hero-text {
    margin-top: 120px;
  }

  .support-animation {
    top: 76px;
    height: 61px;
  }
  .support-animation:nth-child(1) {
    top: 160px;
  }
  .support-container {
    padding-top: 300px;
  }
  .support-wrapper {
    margin-top: 104px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .support-wrapper__item {
    padding: 30px;
    border: 6px solid var(--accent-color);
  }

  .offers-container {
    margin-top: 52px;
    gap: 20px;
  }
  .offers-container__img {
    width: 300px;
  }
  .offers-container__item {
    gap: 0;
    margin: 0;
    padding: 0;
    width: auto;
    padding: 20px;
  }
  .offers-container__item:nth-child(3) {
    padding: 20px;
  }
  .offers-container__item:nth-child(3) .offers-container__img {
    width: 300px;
  }
  .offers-container__title {
    margin-top: 12px;
  }

  .start-container {
    margin: 93px 16px 0;
    height: 400px;
  }
  .start-container::after {
    width: 226px;
    height: 85px;
  }
  .start-container::before {
    width: 226px;
    height: 85px;
  }

  .connect-container {
    margin: 107px 16px 40px;
    padding: 0;
    flex-direction: column;
    background: var(--light-color);
  }
  .connect-form {
    width: 100%;
  }
  .connect-form__input,
  .connect-form__text {
    background: var(--light-color);
  }
  .connect-form__btn {
    font-family: var(--second-font-family);
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    letter-spacing: 0.04em;
  }
  .connect-text__box {
    margin: 0;
  }
  .connect-text__title-first {
    display: block;
  }
  .connect-text__title-second {
    display: none;
  }
  .footer {
    margin-top: 0;
    height: 60px;
  }
  .footer-logo {
    font-size: 16px;
    line-height: 24px;
  }
}
